
{% block content_titre_modale %}
Editer la classe {{ classe.nom }}
{% endblock %}
<form method="POST" action="{{ path("admin_classe_editer", {id: classe.id}) }}" >
    {{ form_widget(form) }}
</form>