{% extends "base.admin.html.twig" %}

{% block title %}
	Gestion des Eleves
{% endblock %}

{% block titre %}
	Gestion des Eleves
{% endblock %}
{% block boutons %}
	<a href="{{ path("admin_eleve_creer") }}" title="Cliquez pour ajouter un eleve" class="btn btn-inverse btn-actions btn-outline-inverse float-right"><i class="ti-plus"></i></a>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="content">
				<table id="example" class="table table-striped nowrap" style="width:100%">
					<thead>
						<tr>
							<th>Anneés</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for annee in annees %}
							<tr>
								<td>{{annee.nom}}</td>
								<td>
									<a
										href="{{ path("admin_eleve_annee_detail", {"id": annee.id}) }}" title="Cliquez pour voir la liste des classes" class="btn btn-info btn-outline-info" >
										{# <i class="mdi mdi-format-list-bulleted-square"></i> #}
										Voir classe
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
