{% extends "base.admin.html.twig" %}

{% block title %}
	Choisissez qui contacter
{% endblock %}

{% block titre %}
	Choisissez qui contacter
{% endblock %}
{% block boutons %}
	{# <a href="{{ path("admin_annee_creer") }}" title="Cliquez pour Creer une annee scolaire" class="btn btn-inverse btn-actions btn-outline-inverse float-right"><i class="ti-plus"></i></a> #}
{% endblock %}

{% block body %}
	<div class="card p-3"><br>
		<div class="card p-4"><br>
			<div class="content">
				<div class="card">
					<a href="{{ path("admin_contact_parent") }}" class="btn btn-inverse btn-outline-inverse">Parents d'eleve</a>
				</div>
				<div class="card">
					<a href="" class="btn btn-inverse btn-outline-inverse">Professeurs</a>
				</div>
				<div class="card">
					<a href="" class="btn btn-inverse btn-outline-inverse">Surveillants</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
